*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
   
   text-transform: capitalize;
   font-family: 'Rubik Moonrocks', cursive;
}


.navbar{
  
    display: flex;
    align-items:center;
    padding: 0.2px;
    width: 100%;
    position:fixed;
    background-color: rgb(187, 150, 159);
   
   
}
.navbar:hover{
    background: transparent;
    color: black;
}

nav{
    flex: 1;
    text-align:right;
}
  nav ul{ 
      display: inline-block;
    list-style-type:none ;
    
    
}
nav ul li{
   
    display: inline-block;
    padding: 15px;
    transition: transform 0.5s;
    
}

li:hover{
    background-color: rgb(26, 69, 76);
    border-radius: 200px;
    border: 1px solid;
    transform: translateX(10px);
   
   
}
a{
    text-decoration: none;
    color: rgb(6, 6, 6);
}
p{
    color:#555;
    margin-bottom: 20px;
}
.row{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.col-2{
    flex-basis: 50%;
    min-width:300px;
}
.col-2 img{
    max-width: 100%;
    padding: 44px 0;
    transition: transform 0.5s;
   
}
.col-2 h1{
    margin-top: 35%;
   
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.btn{
   
    border: 0.1rem solid rgb(241, 7, 7);
    border-radius: 50px;
    padding: 3px 6px;
    color:rgb(246, 240, 240);
    background-color: rgb(255, 7, 7);
    display:inline-block;
    transition: background 1s;
  

}
.btn:hover{

    font-weight: bold;
    background: transparent;
    color: black;

}
.header{
    background: radial-gradient(#fff,#ffd6d6);
    
}

.categories{
    margin: 50px;
}
.row-1{
    display: inline-block;
    display: flex;
    justify-content: center;
}
.col-3 img{
    width:250px;
    height: 270 px;
    margin-right: 50px;
    flex-basis: 30%;
    
}

.small-container{
    max-width:1080px;
    margin: auto;
    padding-left: 80px;
    padding-right: 50px;
    display:flex;
    flex-basis: 30% ;
    
}

.col-4{
    margin-left:auto; 
    flex-basis: 25%;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.3s;

}

.col-4:hover{
    transform:translateY(20px)   
}
.col-4 img {
    width: 185px;
    height: 200px;
    margin-left: 2rem;
    margin-top: 2rem;
    transition: transform 0.5s;
    flex-basis: 25%;
    min-width: 50px;
}

.col-4  h4{
    width: 100%;
    margin-left:50px;
}


.col-4 p{
    margin-left: 50px;
}
.title{
    text-align: center;
    line-height: 60px;
    margin: 0 auto 60px;
    position: relative;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50% ;
    transform: translateX(-50%);
    


}

h4{
    color: #555;
    font-weight: normal;

}
.col-4 p{
    font-size: 14px;

}
.rating{
    margin-left:50px;
    color: #fb7e6e;
}
.offer{
    
        background: radial-gradient(#fff,#ffd6d6);
        margin-top: 80px;
        padding: 30px 0;
    }

    .col-2 .offer-img{
        padding: 50px;
    }
    small{
        color: rgb(236, 159, 159);
    }
     .testimonal h3{
        margin-top: 0.5px;
        margin-left: 40px;

       
     }
     .testimonal .rating{

        padding-top:-50px;
     }
   

     .testimonal{
        padding-top: 10px;
        padding-right: 100px;
        flex-basis: 30%;
     }
     .testimonal .col-4{
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
        cursor: pointer;
        height: 480px;
     }
     .testimonal .col-4 img{
        width: 50%;
        height: 150px;
        border-radius: 50%;
        margin-top: 20px;
       
     }
     .brands{
        margin: 100px auto;
        height: 100px;
        
      
     }
     .col-5{
        width: 160px;

     }
     .col-5 img{
        width: 100px;
        cursor: pointer;
        filter: grayscale(100%);
        margin-left: 90px;
     }
     .col-5 img:hover{
        filter: grayscale(0%);
     }

     .footer{
        background: #000;
        color: #8a8a8a;
        font-size: 14px;
        padding: 60px 0 20px;
        height: 300px;
        text-decoration: none;
     }
     .footer p{
        color: #8a8a8a;
     }
     .footer h3{
        color: #fff;
        margin-bottom: 20px;
     }
     .footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
        min-width: 250px;
        margin-bottom: 20px;

     }
     .footer-col-1{
        flex-basis: 30px;
     }
     .footer-col-2{
        flex: 1;
        text-align: center;
     }
     .footer-col-2 img{
        width: 180px;
        margin-bottom:20px ;
     }
     .footer ul{
        text-decoration: none;
        list-style-type: none;
     }
     .footer .app-logo img{
        width: 100px;
     }
     .copyright{
        text-align: center;
        margin-top: 50px;
     }
     .menu-icon{
        margin-left: 20px;
     }






     @media only screen and (max-width:800px){
        nav ul{
            position:absolute;
            top: 40px;
            left: 0;
            background: #333;
            width: 100%;
        }
        nav ul li{
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a{
            color:white;
        }
        .menu-icon{
            display: block;
            cursor: pointer;
        }
     }